* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/****************************** Cabeçalho das páginas ******************************/

header {
    margin-bottom: 30px;
}

.jumbotron.jumbotron-fluid.cab_1 {
    background-color: #212323;
    padding: 5px;
    height: auto;
    margin: 0;
}

.logo {
    display: inline-block;
    padding-left: 15vw;
}

.login_e_home {
    padding-right: 20%;
    float: right;
    margin-top: 4px;
}

.login_e_home a img {
    padding: 10px;
}

.login_e_home a img:hover {
    background-color: #c50000b2;
    transition: 800ms;
    border-radius: 10px;
}

.login_e_home .descricao {
    display:none;
    position:relative;
}

.login_e_home a:hover .descricao#hom {
    display:block;
    position:absolute;
    top: 70px;
    margin-left: -5px;
    text-align: center;
    background-color: #f700009c;
    color: white;
    padding: 10px 10px;
    pointer-events: none;
}

.login_e_home a:hover .descricao#log {
    display:block;
    position:absolute;
    top:70px;
    margin-left: 50px;
    text-align: center;
    background-color: #f700009c;
    color: white;
    padding: 10px 10px;
}

.cab_2 {
    background-color: rgb(184, 184, 184);
    margin: 0 auto;
    width: 100%;
    height: 70px;
    color: white;
}

.menu_opc {
    width: 100vw;
    text-align: center;
}

.menu_opc li {
    display: inline-block;
    list-style: none;
}

.menu_opc li a {
    text-decoration: none;
    font-size: large;
    color: white;
    padding: 20px 40px;
    display: block;
    font-weight: 600;
}

.menu_opc li:hover {
    background-color: #f70000b2;
    border-bottom: 4px solid #580404b2;
    transition: 600ms;
    cursor: pointer;
}

.menu_opc .lista_OsUs {
    position: absolute;
    background-color: #f70000b2;
    color: white;
    backdrop-filter: blur(3px);
    display: none;
    z-index: 1;
}

.menu_opc .lista_OsUs li {
    display: block;
}

.menu_opc .lista_OsUs a {
    text-decoration: none;
    font-size: large;
    color: white;
    width: 264px;
    padding: 20px 0;
    margin: auto;
    display: block;
}

.menu_opc .lista_OsUs li:hover {
    border-left: 8px solid #580404b2;
    border-bottom: 0px;
    background-color: #f70000b2;
    transition: 500ms;
}

.menu_opc li:hover .lista_OsUs {
    display: block;
    margin-top: 4px;
}


@media (max-width: 650px) {
    .menu_opc li:hover .lista_OsUs#list_user {
        display: block;
        margin-top: 4px;
        margin-left: -97px;
    }
}

/****************************** seção de login.html ******************************/

div h2 {
    text-align: center;
    font-weight: 600;
}

hr#log_hr1 {
    margin: 15px auto;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #e60000d2;
}

hr#log_hr2 {
    margin: 15px auto;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e60000d2;
}

.formulario {
    background-color: #212323;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    padding: 25px 20px;
    width: auto;
    color: white;
    text-align: center;
    box-shadow: 10px 12px 15px #00000080;
}

.form-group.col-md-6 {
    margin: auto;
}

.form-group.col-md-6 span {
    background-color: #f700009c;
    border: none;
    color: white;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    width: 500px;
}

.formulario hr#log_hr3 {
    background-color: white;
    width: 20px;
    height: 20px;
    margin: 10px auto;
    border-radius: 10px;
}

.formulario hr#log_hr4 {
    background-color: white;
    width: 10px;
    height: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

.formulario hr#log_hr3:hover, .formulario hr#log_hr4:hover {
    background-color: #f70000b2;
}

.btn.btn-outline-primary {
    color: #f70000b2;
    border-color: #f70000b2;
    margin: auto;
    padding: 10px 0;
    width: 150px;
}

.btn.btn-outline-primary:hover {
    background-color: #f70000b2;
    color: white;
    border-color: #f70000b2;
}

@media (max-width: 575.98px) {
    .formulario {
        max-width: 100vw;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .formulario {
        max-width: 500px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .formulario {
        min-width: 500px;
        max-width: 50vw;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .formulario {
        max-width: 50vw;
    }
}
@media (min-width: 1200px) {
    .formulario {
        max-width: 50vw;
    }
}


/****************************** seção de formOS.html ******************************/